.form {
  width: 80%;
  margin: 100px auto 0 auto;
  display: flex;
  min-height: 400px;
  font-size: 18px;
  box-shadow: 0 0 10px 0 #3b3b3b;

  &-image {
    flex-grow: 1;
  }

  &-content {
    display: flex;
    flex-direction: column;
    background: #fafafa;
    padding: 20px 50px;
    width: 360px;
    flex-shrink: 0;
  }

  &-left {
    padding: 30px;
    flex-grow: 1;
  }

  &-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &-buttons {
    margin-top: 20px;
    align-self: flex-end;
    justify-self: flex-end;
  }

  &-image {
    position: relative;
    &:before {
      //content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: #000000;
      opacity: 0.4;
    }
  }

  &-inputs {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-small-text {
    font-size: 13px;
    color: #313131;
    margin-bottom: 20px;
  }

  p {
    margin: 0;
    padding: 0;
  }

  &__label {
    margin-bottom: 5px;
  }

  &__input {
    padding: 5px 10px;
    font-size: 18px;
  }
}
