.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.75);

  /*display: flex;*/
  justify-content: center;
  align-items: center;

  // * BLOCKS * //

  &.show {
    display: flex;
  }

  &-container {
    height: 500px;
    width: 1000px;
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;

    display: flex;
  }

  &-content {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 20px 30px;
  }

  &-block {
    display: flex;
    justify-content: flex-end;

    & button {
      margin: 0 5px;
    }

    &.mb {
      margin-bottom: 10px;
    }

    &.left {
      justify-content: flex-start;
    }
  }

  &-fieldset {
    margin-bottom: 20px;
  }

  // * ELEMENTS * //

  &__img {
    width: 40%;
    object-fit: cover;
  }

  &__title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
  }

  &__describe {
    margin-bottom: 20px;
    text-indent: 1.5em;
    & > * {
      text-indent: 1.5em;
    }
    flex-grow: 1;
  }

  &__text {
    font-size: 18px;
    margin-bottom: 20px;

    & span {
      font-weight: bold;
    }
  }

  & .price {
    display: inline-block;
    margin-left: 5px;
  }
}