.button {
  background: #fff;
  font-size: 15px;
  padding: 10px 15px;
  border: 1px solid #000;
  cursor: pointer;

  transition: box-shadow .3s ease-in-out;
  &:hover {
    box-shadow: 0 0 10px -7px #000;
  }

  &.accent {
    background: $accent-color;
    transition: background-color .3s ease-in-out;
    color: #ffffff;

    &:hover {
      background: darken($accent-color, 10%);
    }
  }

  &.not-allowed {
    background: #5a6268;
    color: #ffffff;
    cursor: not-allowed;
    border: none;
  }
}